---
import StaticLayout from "@layouts/StaticLayout.astro";
import { Icon } from "astro-icon";
---

<StaticLayout title="404 Error" description="404 Page Not Found">
  <section class="grid place-items-center text-center overflow-hidden mt-9">
    <Icon name="unimi_logo_90" class="w-36 h-36" optimize={false} />
    <h1 class="my-8 text-5xl font-semibold">Errore 404</h1>
    <h2 class="text-2xl dark:text-zinc-300 mb-5">Sembra che la pagina cercata non esista.</h2>
    <a
      href={import.meta.env.BASE_URL + "index.html"}
      class="dark:bg-zinc-800 bg-zinc-200 rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-blue-500 hover:ring-opacity-100"
      >Torna alla homepage</a
    >
  </section>
</StaticLayout>
