---
import HomeLayout from "@layouts/HomeLayout.astro";
import Footer from "@components/Footer.astro";
import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";
---

<HomeLayout>
  <section class="grid place-items-center">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">Bétsie</h1>
    <p class="text-justify">Il nome <b>Bétsie</b> è un acronimo per: <b>Bé</b>zier <b>t</b>ransformation <b>s</b>imple <b>i</b>mage <b>e</b>ditor,
    un semplice editor grafico che consente di utilizzare le spline di Bézier per
    selezionare un elemento da un'immagine definendone il contorno tramite
    B-Spline, trasformarlo e trasferirlo su una nuova immagine!</p>
    <br/>
    <p class="text-left">Esplora le sezioni cliccando qui sotto o tramite il menù in cima alla pagina:</p>
  </section>
  {homepage.map((homepage) => <Features title={homepage.title} icon={homepage.icon} content={homepage.content} href={import.meta.env.BASE_URL + homepage.href} />)}
  <Footer style="background-color: transparent;" />
</HomeLayout>
